/* .App {
  text-align: center;
} */

.registerButton{
  margin: 5%;
  margin-top: 15%;
}
.registerLink{
  text-decoration: none;
  color: whitesmoke;
}

.navLink{
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}
.logo{
  width: 7rem;

}
